@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
*{
    margin:0;
    padding: 0;
    background-color: #FFD1F3;
    color: #be60a5;
    font-family: 'Niconne';
    
/* #D1FFF4; */
}
section{
    display: flex;
    flex-direction: column;
   height: 100vh;

}
header {
    display: flex;
    font-size: 3em;
    justify-content: center;
    
}
img{
    width: 200px;
    height:200px;
    transition: opacity 2s;
    transition-timing-function: cubic-bezier();
}
img .fadeOut{
    opacity: 0;

}

.score{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 40px;
    padding: 0;
    margin-bottom: 0;

}
.score p {
    padding-bottom: 20px;
    display:flex;
    justify-content: center;
    font-weight: bold;
    font-size:40px;
}
.outcome {
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding-bottom: 5vh;
}
.choice-images{
    display: flex;
    justify-content: space-around;
}
button{

    width: 200px;
    height: 100px;
    font-size: 40px;
    font-style: oblique;
    border:7px solid palevioletred;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 7px rgba(210, 156, 235, 0.6);

}
button:active {
    box-shadow: inset 0px 0px 5px #f5f3f3;
    font-weight:bold;
    
      }
.choices{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
